<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
    <body>
        <div>
            @Html.AntiForgeryToken()
        </div>
        <div class="container">
            <div class="state-info">@Html.ViewBag.Message</div>
            <div>Total contacts:@Html.ViewBag.pageTotalItemsNum</div>
        
            @RenderBody()    
        </div>
        

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/custom")
        @RenderSection("scripts", required: false)
    </body>
</html>
